<div class="side-navbar">
  <div class="side-navbar__header">
    <div class="side-navbar__header__group">
      <app-top-navbar-mobile></app-top-navbar-mobile>
    </div>
    <div class="side-navbar__header__main">
      <app-side-navigation-item></app-side-navigation-item>
      <app-side-navigation-item></app-side-navigation-item>
      <app-side-navigation-item></app-side-navigation-item>
      <app-side-navigation-item></app-side-navigation-item>
    </div>
  </div>
  <div class="side-navbar__footer">
    <div class="side-navbar__footer__item">
      <app-side-navigation-item></app-side-navigation-item>
    </div>

    <!-- Divider -->

    <div class="side-navbar__footer__item">
      <app-side-navigation-item></app-side-navigation-item>
    </div>
  </div>
</div>
