.pagination {
  /* State=Default */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px;
  gap: 4px;

  width: 101px;

  background-color: #ffffff;

  &__text {
    /* 100 */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    letter-spacing: -0.01em;

    /* Neutral/90 */
    color: #344055;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 1;
  }

  &:hover {
    background-color: #f8fafc;
  }

  &::selection {
    background-color: #eff2f6;
  }

  &:active {
    > .pagination__text {
      color: #4f46e5;
    }
  }
}
