.side-navigation-item {
  /* State=Default */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px 0;
  gap: 17px;

  /* Base/Black */
  background-color: #080325;
  border-radius: 4px;
  padding: 20px;
  cursor: pointer;

  &__content {
    /* Icon + Text */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 14px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 1;

    &__group {
      /* Icon + Text */

      /* Auto layout */
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0px;
      gap: 14px;

      /* Inside auto layout */
      flex: none;
      order: 0;
      flex-grow: 1;

      &__text {
        /* Chat */

        /* S/Semibold */
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        /* identical to box height, or 143% */

        /* Neutral/50 */
        color: #cbcfd5;

        /* Inside auto layout */
        flex: none;
        order: 1;
        flex-grow: 0;
      }
    }

    &__notification-sign {
      /* Notification sign */

      /* Error/500 */
      background-color: #d1493d;
      border-radius: 1000px;

      /* Inside auto layout */
      order: 1;
      flex-grow: 0;

      display: flex;
      align-items: center;
      justify-content: center;
      padding: 4px 7px;

      &__value {
        /* 12 */

        font-weight: 600;
        font-size: 10px;
        line-height: 16px;
        /* identical to box height, or 160% */

        /* Neutral/10 */
        color: #ffffff;
      }
    }
  }

  &:hover {
    /* State=Hover */
    /* Violet/SN Hover,Clicked - 900 */
    background-color: #191a38;
  }

  &:active {
    /* State=Active */
    /* Violet/SN Hover,Clicked - 900 */
    background-color: #191a38;
  }
}
