<div class="wallet">
  <div class="wallet__header">
    <div class="wallet__header__group">
      <div class="wallet__header__group__icon">
        <ng-icon name="heroWalletSolid" size="18"></ng-icon>
      </div>
      <p class="wallet__header__group__text">Emergency fund</p>
    </div>
    <p class="wallet__header__text">Last Paid on August 28, 2022</p>
  </div>
  <div class="wallet__status">
    <div class="wallet__status__progress-info">
      <p class="wallet__status__progress-info__text-left">$300 <span
          class="wallet__status__progress-info__text-left__child">/ $1000</span></p>
      <p class="wallet__status__progress-info__text-right">30%</p>
    </div>
    <div class="wallet__status__progress-visual">
      <div class="wallet__status__progress-visual__progress-bar">
        <div class="wallet__status__progress-visual__progress-bar__progress"></div>
        <div class="wallet__status__progress-visual__progress-bar__background"></div>
      </div>
    </div>
  </div>
</div>
